.girisYap{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    color:#484C7F;
}

.resim{
    width: 43%;
    margin-left: 5%;
    margin-right: 15%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 45%;
    margin-right:5%;
    background-color: #DDB6C6;
    justify-content: center;
    border-radius: 2%;
    padding: 45px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.formEleman{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13pt;
}

.text{
    text-align: left;
    font-size: 18px;
}

input {
    display: block;
    margin-bottom: 2rem;
    padding: 15px;
    border: 1px solid #F1D4D4;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    outline: none;
}

.girisButonu {
    cursor: pointer;
    padding: 15px;
    background: #484C7F;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.link{
    text-align: center;
    font-size: 10pt;
}

button:hover {
    background-color: #F1D4D4;
    color: #484C7F;
}
