
.footerButtonFlex{
  display: flex;
  flex-direction: row;

}
  .footerButton{
    background: #AC8DAF;
    border: none;
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1D4D4;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .footerButton:hover {
    background: whitesmoke;
    color: #AC8DAF;
  }
  
  a {
    text-decoration: none;
  }
  
  .footerButton span {
    margin-left: 0.7rem;
  }