.footer
{
    
    background: #DDB6C6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo
{
    margin-top: 3%;
    color: #484C7F;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: flex-start;
}

.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.footer-item {
    list-style:none;
}

.footer-item a {
    text-decoration: none;
    color: #484C7F;
    font-size: 1.3rem;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all ease-out;
  }
  .footer-item a:hover {
    background: whitesmoke;
  }
  
  .footer-item a span {
    margin-left: 0.7rem;
    font-size: 1rem;
  }

.footer-about{
    color: #AC8DAF;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all ease-out;
}